<% provide(:title, "Log in") %>
<h1>Accueil</h1>

<div class="discours_bienvenue">
  <p>Bonjour à tous ! Bienvenue sur cette magnifique application, qui vous délivrera la réponse à la question de l'univers.</p>
  <p>Pour en profiter, c'est <a href="/login">par ici !</a></p>
</div>